<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From</title>
</head>

<Body>

    <form action="/" method= 'post'> 
        Name: <input type="text"> </input>
        <br>
        Dojo Location: 
        <select id="dojo"> 
            <option value="select"> Select</option>
            <option value="san jose"> San Jose</option>
            <option value="chicago"> Chicago</option>
            <option value="san fran"> San Francisco</option>
        </select>
        <br>
        Favorite Language:
        <select id="language">
            <option value="select"> Select</option>
            <option value="python"> Python</option>
            <option value="java"> JavaScript</option>
            <option value="c"> C++ </option>
        </select>
        <br>
        Comment (optional):
        <br>
        <input type="text">
        <br>
        <input type="submit" name="Submit" id="submit">
    
    </form>
</Body>