<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css')}}">
    <title>Checkerboard</title>

<h1> Checkerboard </h1>

</body>

    <!-- <table>
        {% for i in range(8):%}
            <tr>
                {% for j in range(8):%}
                <td class='box{{ (i+j)%2+1 }}'> 
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table> -->

    <table>
        {% for i in range(cols):%}
            <tr>
                {% for j in range(rows):%}
                <td class='box{{ (i+j)%2+1 }}'> 
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<body>